section{
    margin-left:500px;
    margin-top: 150px;
}
#water{
    position: relative;
    margin-top: -75px;
}
#ring{
    position:relative;
    z-index:1;
    margin-top: -75px;
}
#boy{
    position:relative;
    z-index: 2;
}